body {
  background-color: #f8f8f8;
  font-family: Lato, sans-serif;
}

h3 {
  font-size: 15px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

.main {
  width: 500px;
  margin: 0 auto;
}

.header {
  width: 500px;
  margin: 0 auto;
  text-align: right;
}

.header__logo {
  width: 100%;
}

.header__link {
  font-family: fantasy, cursive;
}

.section__header {
  padding: 30px 0 10px;
  margin: 0;
  border-bottom: 2px solid #333;
}

.section__content {
  padding: 0 10px;
}

.task__list {
  margin:0;
  padding: 0;
  list-style: none;
}

.task__item {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
  padding: 16px 0;
}

.item__checkbox {
  padding: 0 10px;
}

.item__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  white-space: nowrap;
  flex-grow: 1;
}

.item__label_disabled {
  display: none;
}

.item__label_compleated {
  padding-left: 10px;
  font-size: 18px;
  flex-grow: 1;
  text-decoration: line-through;
  color: #888;
}

.item__input {
  outline: none;
  margin: 0;
  width: 226px;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  flex-grow: 1;
}

.item__input:focus {
  color: #333;
}

.item__input_disabled {
  display: none;
}

.item__button {
  outline: none;
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.action-button:hover {
  color: #3a3a3a;
}

.delete-button__icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform .2s ease-in;
}

.delete-button__icon:hover {
  transform: rotateZ(0deg);
}

.hidden {
  display: none;
}


@media (max-width:768px) {

  .header { 
    text-align: center;
  }

}